{{ "<!-- HEADER -->" | safeHTML }}


<header>




   <!--add header class for bg video=-->
    <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=-zN_BUUXoic',containment:'body',autoPlay:true, mute:true, startAt:0, opacity:1, showControls:false, loop:true, quality:'hd720'}"></a>
  <!--insert background video-->

    <div class="header-content">


        <div class="header-content-inner">
            {{ with .Site.Params.hero.slogan }}
                <h1>{{ . | markdownify  }}</h1>
            {{ end }}
            {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}

            {{ end }}
            {{ with .Site.Params.hero.subtitle }}
                <h3>{{ . | markdownify }}</h3>
                <hr>
            {{ end }}
            {{ with .Site.Params.hero.buttonText }}
                <a href="#about" class="btn btn-primary btn-xl page-scroll">{{ . }}</a>
            {{ end }}
        </div>
    </div>


</header>
